/*** Spinner ***/

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .8s ease-out, visibility 0s linear .0s;
    visibility: visible;
    opacity: 1;
}


/*** Navbar ***/

.navbar * {
    transition: opacity 250ms ease-in-out;
}

.navbar .dropdown-menu {
    background-color: #fff !important;
    border-radius: 4px !important;
    left: 0;
    top: 100%;
}

.dropdown-item {
    padding: 5px 10px;
    color: #333333;
    font-size: 14px;
}

.dropdown-item img {
    display: none;
}

.dropdown-item:focus,
.dropdown-item:hover,
.dropdown-item.active,
.dropdown-item:active {
    background-color: #fffaeb;
    color: #000000;
}

.navbar {
    position: relative;
    transition: .5s;
    z-index: 999;
    height: 80px;
    margin-top: 30px
}

.navbar.with-announcement {
    margin-top: 40px
}

.navbar.nav-sticky {
    position: fixed;
    top: 0;
    margin-top: 0;
    height: 60px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(61, 71, 80, .18);
}

.navbar.nav-sticky .navbar-brand img {
    height: 50px !important;
}

.navbar .navbar-brand {
    margin: 0;
    color: #ffffff;
    font-size: 35px;
    line-height: 0px;
    font-weight: 300;
    letter-spacing: 2px;
    transition: .5s;

}

.navbar .navbar-brand {
    color: var(--bs-primary);
    transition: .5s;
}

.navbar .navbar-brand span {
    font-weight: 700;
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 60px;
    height: 60px;
}

.navbar-nav {
    align-items: flex-start;
}

.navbar-nav .nav-link,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    font-weight: 500;
}

.dropdown,
.dropdown-center,
.dropend,
.dropstart,
.dropup,
.dropup-center {
    position: static;
}

.navbar-nav .nav-link {
    color: var(--bs-secondary);
}

.penhide {
    visibility: hidden;
    opacity: 0;
    height: 0;
    width: 0;
}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: var(--bs-primary);
}

.penitem h5:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -3px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--bs-primary);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.penitem:hover h5:after,
.penitem:active h5:after,
.penitem.active h5:after {
    width: 100%;
    left: 0;
}

.navbar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

.btn.shadow:hover {
    box-shadow: none !important;
}

.fs-14 {
    font-size: 14px;
}

.penitem {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: background-color 250ms ease-in-out;
}

.penmenu .feature,
.penitem h5 {
    -webkit-transform: translate(0, 6px);
    -ms-transform: translate(0, 6px);
    -o-transform: translate(0, 6px);
    transform: translate(0, 6px);
    transition: transform 250ms ease-in-out;
}

.penmenu .feature:hover,
.penitem:hover h5,
.penitem:active h5,
.penitem.active h5 {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: transform 250ms ease-in-out;
}

.penmenu a i {
    transition: all 250ms ease-in-out;
}

.penmenu a:hover i {
    margin-left: 10px;
}

.fa-chevron-right-group {
    position: absolute;
    right: 35px;
    top: 11px;
}

.btn i.fa-chevron-right {
    transition: all 250ms ease-in-out;
}

.btn i.fa-chevron-right:nth-of-type(2) {
    opacity: 0.6;
}

.btn i.fa-chevron-right:nth-of-type(3) {
    opacity: 0.3;
}

.btn:hover i.fa-chevron-right:nth-of-type(2) {
    transform: translate(6px, 0);
}

.btn:hover i.fa-chevron-right:nth-of-type(1) {
    transform: translate(12px, 0);
}

.cornerfill {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #fffaeb;
    width: 12px;
    height: 12px;
    right: 0;
    transition: opacity 250ms ease-in-out;
}

.cornerfill.bottom {
    bottom: -12px;
}

.cornerfill.top {
    top: -12px;
}

.cornerfill div {
    position: absolute;
    background-color: #fff;
    width: 12px;
    height: 12px;
    right: 0;
}

.cornerfill.bottom div {
    bottom: 0;
    border-top-right-radius: 12px;
}

.cornerfill.top div {
    top: 0;
    border-bottom-right-radius: 12px;
}

.penitem:hover .cornerfill,
.penitem:active .cornerfill,
.penitem.active .cornerfill {
    visibility: visible;
    opacity: 1;
}

.pentrack {
    border-radius: 4px;
    border-top-left-radius: 0;
}

.pensafe {
    border-radius: 4px;
}

.pennav {
    border-radius: 4px;
    border-bottom-left-radius: 0;
}

/*** Intro ***/

#intro .slider-wrapper {
    padding-top: 180px !important;
}

#intro p,
#intro h2 {
    max-width: 450px;
}

.videowrapper {
    position: relative;
}

.video {
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}

.title-mask {
    position: relative;
    padding: 0;
    height: 28px;
    overflow: hidden;
    display: inline-flex;
}

.btn-primary-hollow:hover {
    color: var(--bs-secondary) !important;
}

.delay-250ms {
    animation-delay: 250ms !important;
}

.delay-500ms {
    animation-delay: 500ms !important;
}

.delay-750ms {
    animation-delay: 750ms !important;
}

.svg-wrapper {
    position: absolute;
    top: 100%;
    z-index: -1;
}

#mySVG {
    width: 100%;
    height: auto;
}

#intro .owl-dots {
    display: none;
}

#intro .owl-dots .owl-dot {
    background: var(--bs-secondary);
    width: 10px;
    height: 10px;
}

#intro .owl-dots .owl-dot.active,
#intro .owl-dots .owl-dot:active,
#intro .owl-dots .owl-dot:hover {
    background: var(--bs-primary);
}

/*** Statistics ***/

#statistics .stats-row {
    z-index: 3;
}

.stats-row h2 {
    font-size: 1rem;
}

#statistics strong {
    font-size: 18px;
}

#statistics p {
    font-size: 12px;
    color: var(--bs-secondary);
    line-height: 1.3;
}

#statistics p b {
    position: relative;
    font-size: 16px;
    z-index: 2;
}

.underlined:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    background: var(--bs-primary);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    z-index: 1;
}

#statistics .stat-item strong {
    transform: translate(0, 5px);
    transition: all 250ms ease-in-out;
    display: block;
}

#statistics .stat-item:hover strong {
    transform: translate(0, 0);
}


/*** Solutions + Industries  ***/

#solutions a,
#industries a {
    position: relative;
    color: var(--bs-secondary);
    overflow: hidden;
}

#industries a img {
    width: 130px;
    height: 130px;
}

#industries h3 {
    font-size: 1.25rem;
}

#solutions a *,
#industries a * {
    z-index: 2;
}

#solutions a {
    transition: background-color 250ms ease-in-out;
}

#solutions a img {
    width: 80px;
    height: auto;
    transition: all 250ms ease-in-out;
}

#solutions a:hover {
    background-color: #fff;
}

#solutions a img {
    transform: translate(0, 10px);
}

#solutions a:hover img {
    transform: translate(0, 0);
}

#solutions a p {
    text-align: left;
}

.a-bg {
    height: 128px;
    width: 128px;
    background-color: #fffff5;
    z-index: 1 !important;
    position: absolute;
    top: -150px;
    right: -150px;
    border-radius: 50%;
    -webkit-transition: all .5s ease !important;
    -ms-transition: all .5s ease !important;
    -o-transition: all .5s ease !important;
    transition: all .5s ease !important;
}

.a-bg.onleft {
    left: -150px;
}

a:hover .a-bg {
    -webkit-transform: scale(14);
    -ms-transform: scale(14);
    -o-transform: scale(14);
    transform: scale(14);
}

a button {
    font-size: 14px;
}

#industries * {
    -webkit-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

#industries a p {
    font-size: 14px;
    line-height: 1.2;
    max-width: 230px;
    margin: 0 auto;
}

#industries a:hover p {
    height: auto;
}

#industries a:hover img {
    -webkit-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    -o-transform: translate(0, -10px);
    transform: translate(0, -10px);
}

.cardslide {
    overflow: visible !important;
}

.cardslide:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #ffffff;
    border-radius: 12px;
    z-index: 1;
}

.cardslide:hover:after {
    opacity: 1;
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
}

/*
.cardslide:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -10px;
    left: 6px;
    border-radius: 12px;
    background-color: var(--bs-primary);
    -webkit-transition: opacity .4s, -webkit-transform .4s;
    transition: transform .4s, opacity .4s;
    transition: transform .4s, opacity .4s, -webkit-transform .4s;
    opacity: 0;
    transition-delay: 250ms;
}
*/

.line2-wrapper {
    position: absolute;
    width: 85px;
    height: 605px;
    left: -10px;
    top: 80px;
}

#mySVG2 {
    width: 100%;
    height: auto;
}


/*** Case Studies ***/

.testimonial .imgwrapper {
    padding: 20px 0;
    position: relative;
    z-index: 1;
}

.testimonial .pic img {
    width: 100%;
    max-height: 400px;
    height: auto;
    border-radius: 4px;
}

.testimonial .title {
    font-size: 20px;
    font-weight: 600;
    color: var(--bs-secondary);
    margin: 0;
    text-align: start;
}

.testimonial .description {
    color: var(--bs-secondary);
    margin: 0;
    position: relative;
    text-align: start;
}

.owl-dots {
    width: 100%;
    padding-right: 0;
    text-align: center;
}

.owl-dots .owl-dot {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-left: 2px;
    margin-right: 2px;
    background: var(--bs-secondary);
    border: none;
}

.owl-dots .owl-dot.active,
.owl-dots .owl-dot:hover {
    background: var(--bs-primary);
}

.owl-item.active .testimonial .pic {
    transform: translate(0, 0);
}

.owl-carousel .owl-nav {
    position: absolute;
    top: -50px;
    right: 0;
}

.owl-carousel .owl-nav button {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    margin-right: 10px;
    box-shadow: none !important;
    transition: all 200ms ease-in-out;
}

.owl-carousel .owl-nav button:not(.disabled):hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .05) !important;
    background-color: #000;
}

.owl-carousel .owl-nav button.disabled {
    opacity: 0.5;
    box-shadow: none !important;
}

.owl-carousel .owl-nav button i {
    color: #000000;
    transition: all 200ms ease-in-out;
}

.owl-carousel .owl-nav button:not(.disabled):hover i {
    color: #fff;
}

#cases .case-logo {
    max-width: 150px;
    max-height: 30px;
}

/*** Product ***/
#product {
    overflow: hidden;
}

#product img {
    position: absolute;
}

#product img.prod1 {
    bottom: 0;
    left: 0;
    max-width: 100px;
}

#product img.prod2 {
    bottom: 0;
    right: 0;
    max-width: 230px;
}

#product img.prod3 {
    top: 0;
    left: calc(50% - 160px);
    max-width: 280px;
}

#product img.prod4 {
    top: -100px;
    left: 0;
    max-width: 200px;
}

.product-images-wrapper {
    position: relative;
    min-height: 300px;
}


/*** Partners ***/

#partners {
    background: #fff;
}

#partners .partners-list a {
    aspect-ratio: 5 / 2;
    border-radius: 0;
    background-color: #ffffff;
    transition: all 250ms ease-in-out;
}

#partners .partners-list a:hover {
    background-color: #ffffff;
    -webkit-box-shadow: inset 0px -4px 0px 0px var(--bs-primary);
    -moz-box-shadow: inset 0px -4px 0px 0px var(--bs-primary);
    box-shadow: inset 0px -4px 0px 0px var(--bs-primary);
}

#partners .partners-list a img {
    width: auto;
    height: auto;
    max-height: 40px;
    /* 80px */
    max-width: 100px;
    /* 120px */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
    transition: all 250ms ease-in-out;
    transform: translate(0, 0);
}

#partners .partners-list a:hover img {
    filter: none;
    -webkit-filter: grayscale(0%);
    transform: translate(0, -10px);
}

#partners .partners-list a.big-partner {
    aspect-ratio: unset;
}

#partners .partners-list a.big-partner img {
    width: 100%;
    height: auto;
    max-height: 100%;
    max-width: 150px;
}

/*** Blog ***/

#blog {
    background-color: #ffffff;
    /***
    background: linear-gradient(180deg, rgb(236, 236, 236) 0%, rgba(255, 255, 255, 1) 90%);
    ***/
}

#blog img {
    border-radius: 4px;
}

#blog .article-wrapper {
    border-radius: 4px;
    transition: all 250ms ease-in-out;
}

#blog .article-wrapper h3 {
    transform: translate(0, 5px);
    transition: all 250ms ease-in-out;
}

#blog .article-wrapper:hover h3 {
    transform: translate(0, 0);
}

#blog h3 {
    font-size: 16px;
}

#blog h3.sub-title {
    font-size: 1.5rem;
}

#blog .desc {
    font-size: 14px;
    opacity: 0.8;
}

.blog-label {
    top: -20px;
    left: 15px;
    z-index: 3;
    font-size: 12px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    transform: translate(0, 0);
    transition: all 250ms ease-in-out;
}

#blog .article-wrapper:hover .blog-label {
    transform: translate(0, 5px);
}

.readmore {
    visibility: hidden;
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    transition: all 250ms ease-in-out;
    font-size: 12px;
}

#blog .article-wrapper:hover .readmore {
    opacity: 1;
    visibility: visible;
}

.imgoverlay {
    visibility: hidden;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 4px;
    z-index: 2;
    transition: all 250ms ease-in-out;
}

#blog .article-wrapper:hover .imgoverlay {
    opacity: 0.6;
    visibility: visible;
}

#blog form .form-control-lg {
    font-size: 14px;
    border-radius: 4px;
    height: 44px;
}

#blog form .form-text {
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
}

.flex-fill {
    flex: 1;
}



/*** Calculate ***/



/*** Contact ***/

#contact .form-control {
    font-size: 14px;
    background-color: var(--bs-secondary-bg);
    border-radius: 4px;
}

#contact input.form-control {
    height: 44px;
    border: 0;
    border-radius: 4px;
}

#contact textarea {
    border: 0;
    background-color: var(--bs-secondary-bg);
}

#contact .input-group-text {
    background-color: var(--bs-secondary-bg);
    border: 0;
    width: 50px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    margin-right: 10px;
    display: none;
}

.line3-wrapper {
    position: absolute;
    width: 4px;
    height: 100px;
    left: 100px;
    top: -150px;
}

.lineSVG {
    width: 100%;
    height: auto;
    overflow: visible;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    opacity: 0;
    position: absolute;
    bottom: -6px;
    left: 7px;
    background-color: black;
    z-index: 3;
    transition: opacity 200ms ease-in-out;
}


/*** Fancy checkbox ***/
#contact input[type='checkbox'] {
    height: 0;
    width: 0;
}

#contact input[type='checkbox']+label {
    position: relative;
    display: flex;
    margin: 12px 0;
    align-items: center;
    color: #000000;
    transition: color 250ms cubic-bezier(.4, .0, .23, 1);
}

#contact input[type='checkbox']+label>span {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid #9E9E9E;
    border-radius: 2px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(.4, .0, .23, 1);
}

#contact input[type='checkbox']+label:hover {
    color: var(--bs-primary);
    cursor: pointer;
}

#contact input[type='checkbox']+label:hover>span,
#contact input[type='checkbox']:focus+label>span {
    background: rgba(255, 255, 255, .1);
}

#contact input[type='checkbox']:checked+label>span {
    border: 10px solid var(--bs-primary);
    animation: shrink-bounce 200ms cubic-bezier(.4, .0, .23, 1);
}

#contact input[type='checkbox']:checked+label>span:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 4px;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: rotate(45deg);
    transform-origin: 0% 100%;
    animation: checkbox-check 125ms 250ms cubic-bezier(.4, .0, .23, 1) forwards;
}

@keyframes shrink-bounce {
    0% {
        transform: scale(1);
    }

    33% {
        transform: scale(.85);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes checkbox-check {
    0% {
        width: 0;
        height: 0;
        border-color: #212121;
        transform: translate3d(0, 0, 0) rotate(45deg);
    }

    33% {
        width: 6px;
        height: 0;
        transform: translate3d(0, 0, 0) rotate(45deg);
    }

    100% {
        width: 6px;
        height: 12px;
        border-color: #212121;
        transform: translate3d(0, -10px, 0) rotate(45deg);
    }
}



/*** Footer ***/

.footer .short-link a,
.footer .help-link a,
.footer .contact-link a {
    transition: .5s;
    font-size: 14px;
}

.footer .short-link a:hover,
.footer .help-link a:hover,
.footer .contact-link a:hover,
#copyright a:hover {
    color: var(--bs-primary) !important;
}

.footer .hightech-link a:hover {
    background: var(--bs-primary);
    border: 0;
}


/*** Copyright ***/



/*** General ***/

.btn {
    font-weight: 400;
    transition: .5s;
    font-size: 14px;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-md-square {
    width: 46px;
    height: 46px;
}

.btn-lg-square {
    width: 58px;
    height: 58px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn-secondary i {
    transition: color 250ms ease-in-out;
}

.btn-secondary:hover i {
    color: var(--bs-primary);
}

.back-to-top {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.mr-3 {
    margin-right: 1rem !important;
}

a {
    text-decoration: none;
}

h2 {
    letter-spacing: -0.03em;
}

.rounded-lg {
    border-radius: 12px !important;
}

.mb-45 {
    margin-bottom: 2.5rem !important;
}

.flex-column {
    flex-direction: column;
}

.rounded,
.btn {
    border-radius: 4px !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .05) !important;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -50px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-50px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(50px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


/*** Arrow animation ***/

.dotted-line {
    width: 28px;
    height: 100px;
    display: block;
    position: absolute;
    color: #fdaa27;
    background: linear-gradient(currentColor 50%, transparent 50%) top/2px 2px content-box repeat-y;
    -webkit-mask: linear-gradient(#fdaa27, #fdaa27);
    -webkit-mask-size: 100% 0%;
    -webkit-mask-repeat: no-repeat;
    mask: linear-gradient(#fdaa27, #fdaa27);
    mask-size: 100% 0%;
    mask-repeat: no-repeat;
    animation: hideline infinite 2s linear;
}

.dotted-line.arrow-top:after {
    content: "";
    position: absolute;

    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid var(--bs-primary);

    width: 20px;
    padding-top: 80%;
    bottom: -22px;
}

.horizontal {
    rotate: -90deg;
    left: 50px;
}

@keyframes hideline {
    50% {
        -webkit-mask-size: 100% 100%;
        -webkit-mask-position: top;
        mask-size: 100% 100%;
        mask-position: top;
    }

    50.1% {
        -webkit-mask-size: 100% 100%;
        -webkit-mask-position: bottom;
        mask-size: 100% 100%;
        mask-position: bottom;
    }

    100% {
        -webkit-mask-position: bottom;
        mask-position: bottom;
    }
}


/*** PenTrack page ***/

.target-item:hover .underlined:after {
    width: 100%;
    left: 0;
}

.target-item h3 {
    transition: all 250ms ease-in-out;
    transform: translate(0, 0);
}

.target-item:hover h3 {
    transform: translate(0, -6px);
}

.line4-wrapper {
    position: absolute;
    width: 4px;
    height: 200px;
    left: 100px;
    top: 100%;
}

.line5-wrapper {
    position: absolute;
    height: 137px;
    width: 643px;
    left: 25%;
    top: -150px;
}

.line5-wrapper .dot {
    right: 7px !important;
    left: auto;
    bottom: -6px;
}

.line6-wrapper {
    position: absolute;
    height: 137px;
    width: 643px;
    left: 25%;
    top: -150px;
}


/*** Solutions pages ***/

.feature-item h3 {
    font-weight: 600;
    transition: all 250ms ease-in-out;
    transform: translate(0, 0);
}

.feature-item:hover h3 {
    transform: translate(0, -6px);
}

.healthcare-carousel .owl-dot {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-left: 2px;
    margin-right: 2px;
    background: var(--bs-secondary) !important;
    border: none;
}

.healthcare-carousel .owl-dot.active,
.healthcare-carousel .owl-dot:hover {
    background: var(--bs-primary) !important;
}

i.mt-1 {
    margin-top: 5px !important;
}


/*** Blog ***/

.pagenav a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    background-color: var(--bs-secondary-bg);
    color: var(--bs-secondary);
    margin-right: 0.5rem;
    transition: all 250ms ease-in-out;
}

.pagenav a:last-of-type {
    margin-right: 0;
}

.pagenav a:hover,
.pagenav a:active,
.pagenav a.active {
    background-color: var(--bs-primary);
}


/*** Responsiveness ***/

@media (max-width: 450px) {
    #partners .partners-list a img {
        max-height: 36px;
        max-width: 100px;
    }

    header .btn,
    main .btn {
        width: 100% !important;
    }

    #industries a img {
        width: 80px;
        height: 80px;
    }

    #industries h3 {
        font-size: 1rem;
    }

    #industries a:hover img {
        width: 80px !important;
        height: 80px !important;
    }

    #industries a p {
        font-size: 12px;
    }

    .container:not(.carousel-container) {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    #solutions a p {
        font-size: 12px;
    }

    #cases .btn-white {
        text-align: start;
        max-width: 160px;
    }
}

@media (min-width: 576px) {

    /*** Small  sm ***/
    .owl-carousel .owl-nav button {
        width: 40px;
        height: 40px;
    }

    .stats-row h2 {
        font-size: 1.2rem;
    }

    #statistics strong {
        font-size: 24px;
    }

    #statistics p {
        font-size: 14px;
        line-height: 1.2;
    }

    #statistics p b {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    /*** Medium	 md ***/

    .sol-item {
        flex-direction: column;
    }

    #solutions a img {
        height: 160px;
        width: auto;
    }

    #solutions a p {
        text-align: center;
    }
}

@media (min-width: 992px) {

    /*** Large  lg ***/
    .navbar {
        position: absolute;
        width: 100%;
        top: 0;
        padding: 20px;
        z-index: 9;
    }

    .navbar.nav-sticky {
        padding: 10px;
        background: #ffffff !important;
        transition: all 250ms ease-in-out;
    }

    .navbar a.nav-link {
        padding: 15px;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    #contact .input-group-text {
        display: block;
    }

    .video {
        height: 73vh;
        width: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .testimonial .testimonial-content {
        flex-direction: column;
        -ms-flex-direction: column;
    }

    .svg-wrapper {
        width: 725px;
        height: auto;
        right: 50%;
        margin-top: 0;
    }

    #industries a img {
        width: 160px;
        height: 160px;
    }

    #intro h2 {
        font-size: 28px;
    }

    #intro p {
        font-size: 18px;
    }

    .navbar.nav-sticky {
        height: 80px;
    }

    .dropdown-item {
        padding: 10px 20px;
        font-size: 16px;
    }

    .dropdown-item img {
        display: inline-block;
    }

    .navbar-nav {
        align-items: center;
    }

    .testimonial .pic {
        transform: translate(-70%, 0);
        transition: transform 300ms ease-in-out;
        justify-content: end;
    }

    .dot.intro-dot {
        top: 266px;
        left: 63px;
    }

    .dot.applications-dot {
        bottom: 35px;
        right: -5px;
        left: auto;
    }

    .dot.contact-dot {
        bottom: -15px;
        left: -3px
    }

    #intro .owl-dots {
        display: block;
        text-align: center;
        width: 50%;
        float: right;
    }
}

@media (min-width: 1200px) {

    /*** Extra large  xl ***/

    .svg-wrapper {
        width: 890px;
        height: auto;
        right: 50%;
        margin-top: -10px;
    }

    #statistics p {
        font-size: 16px;
        line-height: 1.3;
    }

    .readmore {
        font-size: 14px;
    }

    .dot.intro-dot {
        top: 326px;
        left: 79px;
    }
}

@media (min-width: 1400px) {

    /*** Extra extra large  xxl ***/
    .videowrapper {}

    .svg-wrapper {
        width: 1030px;
        height: 1000px;
        right: 50%;
        margin-top: -20px;
    }

    .stats-row h2 {
        font-size: 1.3rem;
    }

    .dot.intro-dot {
        top: 376px;
        left: 93px;
    }
}

@media (max-width: 991.98px) {
    .navbar {
        padding: 0;
        background: var(--bs-white) !important;
        height: 60px;
        margin-top: 0;
    }

    .navbar .navbar-brand span {
        color: #ffffff;
    }

    .navbar a.nav-link {
        padding: 5px;
    }

    .navbar .dropdown-menu {
        box-shadow: none !important;
    }

    .navbar .navbar-brand {
        color: #ffffff;
    }

    .navbar .navbar-brand img {
        height: 40px;
    }

    nav {
        background-color: rgb(255, 255, 255);
        padding: 20px;
        width: 100%;
    }

    #intro .slider-wrapper {
        height: auto;
        margin-top: 0 !important;
        padding-top: 1rem !important;
    }

    #intro .item {
        height: auto;
    }

    #intro .main-carousel .slider-img img {
        max-height: 350px;
        max-width: 350px;
    }

    .testimonial {
        text-align: center;
    }

    .testimonial .pic {
        margin: 0 auto;
        float: none;
        justify-content: center;
    }

    .testimonial .testimonial-content {
        width: 100%;
        float: none;
    }

    .testimonial .title {
        padding: 15px 0 0 0;
    }

    .owl-item {
        flex-grow: 1;
    }

    #testimonial-slider .owl-dots {
        width: 100%;
        padding-right: 0;
        text-align: center;
    }

    #statistics {
        text-align: center;
    }

    .navbar-toggler,
    .navbar-toggler:focus,
    .navbar-toggler:active {
        border: none;
        box-shadow: none;
    }

    .nav-item {
        padding: 10px 0;
    }

    .navbar-collapse.show {
        box-shadow: rgb(151, 150, 150) 0px 15px 10px -15px;
    }
}

@media (max-width: 767.98px) {
    #industries a p {
        position: relative;
        top: 0;
        height: auto;
        visibility: visible;
        opacity: 1;
        transform: none;
        left: 0;
    }

    #industries a:hover img {
        transform: none;
        width: 110px;
        height: 110px;
    }

    #industries a:hover .text-wrapper {
        transform: none;
    }

    #industries a:hover h4 {
        font-size: calc(1.275rem + .3vw);
    }

    #industries a:hover {
        transform: none;
        box-shadow: none;
    }
}