/*** Spinner ***/

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .8s ease-out, visibility 0s linear .0s;
    visibility: visible;
    opacity: 1;
}


/*** Navbar ***/

.navbar * {
    transition: opacity 250ms ease-in-out;
}

.navbar .dropdown-menu {
    background-color: #fff !important;
    border-radius: 20px !important;
    left: 0;
    top: 100%;
}

.dropdown-item {
    padding: 10px 20px;
    color: #333333;
}

.dropdown-item:focus,
.dropdown-item:hover,
.dropdown-item.active,
.dropdown-item:active {
    background-color: #fffaeb;
    color: #000000;
}

.navbar {
    position: relative;
    transition: .5s;
    z-index: 999;
    height: 100px;
    margin-top: 30px
}

.navbar.nav-sticky {
    position: fixed;
    top: 0;
    margin-top: 0;
    height: 80px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(61, 71, 80, .18);
}

.navbar.nav-sticky .navbar-brand img {
    height: 50px !important;
}

.navbar .navbar-brand {
    margin: 0;
    color: #ffffff;
    font-size: 35px;
    line-height: 0px;
    font-weight: 300;
    letter-spacing: 2px;
    transition: .5s;

}

.navbar .navbar-brand {
    color: var(--bs-primary);
    transition: .5s;
}

.navbar .navbar-brand span {
    font-weight: 700;
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 80px;
    height: 60px;
}

.navbar-nav .nav-link,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    font-weight: 500;
}

.dropdown,
.dropdown-center,
.dropend,
.dropstart,
.dropup,
.dropup-center {
    position: static;
}

.navbar-nav .nav-link {
    color: var(--bs-secondary);
}

.penhide {
    visibility: hidden;
    opacity: 0;
    height: 0;
    width: 0;
}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: var(--bs-primary);
}

.penitem h5:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -3px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--bs-primary);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.penitem:hover h5:after,
.penitem:active h5:after,
.penitem.active h5:after {
    width: 100%;
    left: 0;
}

.navbar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

.btn.shadow:hover {
    box-shadow: none !important;
}

.fs-14 {
    font-size: 14px;
}

.penitem {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    transition: background-color 250ms ease-in-out;
}

.penmenu .feature,
.penitem h5 {
    -webkit-transform: translate(0, 6px);
    -ms-transform: translate(0, 6px);
    -o-transform: translate(0, 6px);
    transform: translate(0, 6px);
    transition: transform 250ms ease-in-out;
}

.penmenu .feature:hover,
.penitem:hover h5,
.penitem:active h5,
.penitem.active h5 {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: transform 250ms ease-in-out;
}

.penmenu a i {
    transition: all 250ms ease-in-out;
}

.penmenu a:hover i {
    margin-left: 10px;
}

a.btn i.fa-chevron-right {
    transition: all 250ms ease-in-out;
}

a.btn:hover i.fa-chevron-right:nth-of-type(2) {
    transform: translate(6px, 0);
}

a.btn:hover i.fa-chevron-right:nth-of-type(3) {
    transform: translate(12px, 0);
}

.cornerfill {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #fffaeb;
    width: 12px;
    height: 12px;
    right: 0;
    transition: opacity 250ms ease-in-out;
}

.cornerfill.bottom {
    bottom: -12px;
}

.cornerfill.top {
    top: -12px;
}

.cornerfill div {
    position: absolute;
    background-color: #fff;
    width: 12px;
    height: 12px;
    right: 0;
}

.cornerfill.bottom div {
    bottom: 0;
    border-top-right-radius: 12px;
}

.cornerfill.top div {
    top: 0;
    border-bottom-right-radius: 12px;
}

.penitem:hover .cornerfill,
.penitem:active .cornerfill,
.penitem.active .cornerfill {
    visibility: visible;
    opacity: 1;
}

/*** Intro ***/

.theonewrapper {
    /*
    background: rgb(243, 242, 233);
    background: radial-gradient(circle at right center, rgba(255, 241, 210, 1) 0%, rgba(243, 242, 233, 1) 32%);
    */
}

#intro .slider-wrapper {
    padding-top: 180px !important;
    background-color: #ffffff;
    /*
    background: rgb(243, 242, 233);
    background: linear-gradient(175deg, rgba(255, 255, 255, 1) 0%, rgba(243, 242, 233, 1) 60%);
    */
}

.gradienttrans {
    position: absolute;
    left: -300px;
    top: 0px;
    width: 800px;
    height: auto;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0)));
}

#intro .textwrapper {
    z-index: 2;
    position: relative;
}

.videowrapper {
    position: relative;
}

.video {
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}

.title-mask {
    position: relative;
    padding: 0;
    height: 28px;
    overflow: hidden;
    display: inline-flex;
}

.btn-primary-hollow:hover {
    color: var(--bs-secondary) !important;
}

.delay-250ms {
    animation-delay: 250ms !important;
}

.delay-500ms {
    animation-delay: 500ms !important;
}

.delay-750ms {
    animation-delay: 750ms !important;
}


/*** Statistics ***/

#statistics .stats-row {
    background-color: #fffff5;
    z-index: 3;
}

#statistics strong {
    font-size: 32px;
    color: var(--bs-primary);
}

#statistics p {
    font-size: 16px;
    color: var(--bs-secondary);
    line-height: 1.3;
}

#statistics p b {
    position: relative;
    font-size: 20px;
    z-index: 2;
}

#statistics p b:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    background: var(--bs-primary);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    z-index: 1;
}

#statistics .stat-item:hover b:after {
    width: 100%;
    left: 0;
}

/*** Banner ***/

.bg-pattern {
    background-image: url("../img/map.svg");
    background-repeat: repeat;
}

.mappin {
    position: relative;
    margin-bottom: -8px;
    z-index: 5;
}

.elipsa {
    width: 32px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--bs-primary);
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}

.elipsa div {
    width: 16px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--bs-primary);
    margin-left: 6px;
    margin-top: 2px;
}

@-moz-keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}

@-webkit-keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}

@-o-keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}


/*** Solutions + Industries ***/

#solutions a,
#industries a {
    position: relative;
    color: var(--bs-secondary);
    overflow: hidden;
}

#industries a img {
    width: 80px;
    height: 80px;
}

#industries a:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .1);

}

#solutions a *,
#industries a * {
    z-index: 2;
}

#solutions a {
    transition: background-color 250ms ease-in-out;
}

#solutions a .app-logo-wrapper {
    width: 100%;
    transition: all 250ms ease-in-out;
}

#solutions a:hover {
    background-color: #fffaeb;
}

#solutions a .app-logo-wrapper {
    transform: translate(0, 10px);
}

#solutions a:hover .app-logo-wrapper {
    transform: translate(0, 0);
}

#solutions button {
    width: 200px;
    margin: 0 auto;
}

.a-bg {
    height: 128px;
    width: 128px;
    background-color: #fffff5;
    z-index: 1 !important;
    position: absolute;
    top: -150px;
    right: -150px;
    border-radius: 50%;
    -webkit-transition: all .5s ease !important;
    -ms-transition: all .5s ease !important;
    -o-transition: all .5s ease !important;
    transition: all .5s ease !important;
}

.a-bg.onleft {
    left: -150px;
}

a:hover .a-bg {
    -webkit-transform: scale(14);
    -ms-transform: scale(14);
    -o-transform: scale(14);
    transform: scale(14);
}

a button {
    font-size: 14px;
}

#industries {
    background: rgb(243, 242, 233);
    background: linear-gradient(180deg, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 15%);
}

#industries * {
    -webkit-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

#industries a p {
    position: absolute;
    top: 35px;
    font-size: 14px;
    line-height: 1.2;
    height: 0;
}

#industries a:hover p {
    height: auto;
}

#industries a:hover img {
    width: 70px;
    height: 70px;
    -webkit-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    -o-transform: translate(0, -20px);
    transform: translate(0, -20px);
}

#industries a:hover .text-wrapper {
    -webkit-transform: translate(0, -35px);
    -ms-transform: translate(0, -35px);
    -o-transform: translate(0, -35px);
    transform: translate(0, -35px);
}

.cardslide {
    overflow: visible !important;
}

.cardslide:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #ffffff;
    border-radius: 12px;
    z-index: 1;
}

.cardslide:hover:after {
    opacity: 1;
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
}

/*
.cardslide:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -10px;
    left: 6px;
    border-radius: 12px;
    background-color: var(--bs-primary);
    -webkit-transition: opacity .4s, -webkit-transform .4s;
    transition: transform .4s, opacity .4s;
    transition: transform .4s, opacity .4s, -webkit-transform .4s;
    opacity: 0;
    transition-delay: 250ms;
}
*/


/*** Case Studies ***/

.testimonial .imgwrapper {
    padding: 20px 0;
    position: relative;
    z-index: 1;
}

.testimonial .pic img {
    width: 100%;
    max-height: 400px;
    height: auto;
    border-radius: 12px;
}

.testimonial .title {
    font-size: 20px;
    font-weight: 600;
    color: var(--bs-secondary);
    margin: 0;
}

.testimonial .description {
    color: var(--bs-secondary);
    margin: 0;
    position: relative;
}

#testimonial-slider .owl-dots {
    width: 100%;
    padding-right: 0;
    text-align: center;
}

#testimonial-slider .owl-dots .owl-dot {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-left: 2px;
    margin-right: 2px;
    background: var(--bs-secondary);
    border: none;
}

#testimonial-slider .owl-dots .owl-dot.active,
#testimonial-slider .owl-dots .owl-dot:hover {
    background: var(--bs-primary);
}

.testimonial .pic {
    transform: translate(-70%, 0);
    transition: transform 300ms ease-in-out;
}

.owl-item.active .testimonial .pic {
    transform: translate(0, 0);
}

.owl-carousel .owl-nav {
    position: absolute;
    top: -60px;
    right: 0;
}

.owl-carousel .owl-nav button {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: black !important;
    margin-right: 10px;
    box-shadow: none !important;
    transition: all 200ms ease-in-out;
}

.owl-carousel .owl-nav button:not(.disabled):hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    background-color: var(--bs-primary) !important;
}

.owl-carousel .owl-nav button.disabled {
    opacity: 0.5;
    box-shadow: none !important;
}

.owl-carousel .owl-nav button i {
    color: #ffffff;
    transition: all 200ms ease-in-out;
}

.owl-carousel .owl-nav button:not(.disabled):hover i {
    color: var(--bs-secondary);
}


/*** Product ***/

#product {
    background: rgb(255, 255, 255);

    overflow: hidden;
}

#product img {
    position: absolute;
}

#product img.prod1 {
    bottom: 0;
    left: 0;
    max-width: 100px;
}

#product img.prod2 {
    bottom: 0;
    right: 0;
    max-width: 230px;
}

#product img.prod3 {
    top: 0;
    left: calc(50% - 160px);
    max-width: 280px;
}

#product img.prod4 {
    top: -100px;
    left: 0;
    max-width: 200px;
}


/*** Partners ***/

#partners {
    background: #fffaeb;
}

#partners .partners-list a {
    aspect-ratio: 5 / 2;
    border-radius: 0;
    background-color: #fffff5;
    transition: all 250ms ease-in-out;
}

#partners .partners-list a:hover {
    background-color: #fffff5;
    -webkit-box-shadow: inset 0px -4px 0px 0px var(--bs-primary);
    -moz-box-shadow: inset 0px -4px 0px 0px var(--bs-primary);
    box-shadow: inset 0px -4px 0px 0px var(--bs-primary);
}

#partners .partners-list a img {
    width: auto;
    height: auto;
    max-height: 40px;
    /* 80px */
    max-width: 100px;
    /* 120px */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
    transition: all 250ms ease-in-out;
    transform: translate(0, 0);
}

#partners .partners-list a:hover img {
    filter: none;
    -webkit-filter: grayscale(0%);
    transform: translate(0, -10px);
}



/*** Blog ***/

#blog {
    background-color: #ffffff;
    /***
    background: linear-gradient(180deg, rgb(236, 236, 236) 0%, rgba(255, 255, 255, 1) 90%);
    ***/
}

#blog img {
    border-radius: 8px;
}

#blog .article-wrapper {
    border-radius: 12px;
    transition: all 250ms ease-in-out;
}

#blog .article-wrapper:hover {
    background-color: var(--bs-secondary-bg);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

}

#blog h4 {
    font-size: 16px;
}

#blog .desc {
    font-size: 14px;
    opacity: 0.8;
}

.readmore {
    visibility: hidden;
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    transition: all 250ms ease-in-out;
    font-size: 14px;
}

#blog .article-wrapper:hover .readmore {
    opacity: 1;
    visibility: visible;
}

.imgoverlay {
    visibility: hidden;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 8px;
    z-index: 2;
    transition: all 250ms ease-in-out;
}

#blog .article-wrapper:hover .imgoverlay {
    opacity: 0.6;
    visibility: visible;
}

#blog form .form-control-lg {
    font-size: 14px;
    border-radius: 40px;
    height: 44px;
}

#blog form .form-text {
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
}

.flex-fill {
    flex: 1;
}



/*** Calculate ***/
#calculate {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(236, 236, 236, 1) 60%);
}

#calculate .container {
    z-index: 2;
    position: relative;
    border-radius: 30px;
    max-width: 900px;
}

/***
.triangle-wrapper {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.triangle {
    position: absolute;
    left: -80px;
    top: -20px;
    rotate: 30deg;
    z-index: -1;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 100px solid var(--bs-secondary);
    border-bottom: 50px solid transparent;
    animation: float 4s ease-in-out infinite;
}

.square {
    position: absolute;
    right: -80px;
    bottom: 20px;
    rotate: 30deg;
    z-index: -1;
    height: 100px;
    width: 100px;
    border: 4px solid var(--bs-secondary);
    border-radius: 8px;
    background-color: var(--bs-primary);
    animation: float 5s ease-in-out infinite;
}

.circlediv {
    position: absolute;
    right: -80px;
    top: 20px;
    z-index: -1;
    height: 40px;
    width: 40px;
    background-color: var(--bs-secondary);
    border-radius: 50%;
}

.circlediv.left {
    height: 30px;
    width: 30px;
    left: -70px;
    top: 120px;
    background-color: var(--bs-primary);
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}
 ***/


/*** Contact ***/

#contact .form-control {
    font-size: 14px;
}

#contact input.form-control {
    height: 44px;
    border: 0;
}

#contact textarea {
    border: 0;
}

#contact .input-group-text {
    background-color: #fff;
    border: 0;
    width: 60px;
    display: flex;
    justify-content: center;
}

/*** Fancy checkbox ***/
.checkbox-wrapper .cbx {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
}

.checkbox-wrapper .cbx:hover {
    color: #E39923;
}

.checkbox-wrapper .cbx span {
    transform: translate3d(0, 0, 0);
    font-size: 12px;
}

.checkbox-wrapper .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    transform: scale(1);
    border: 1px solid #cccfdb;
    transition: all 0.2s ease;
    box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}

.checkbox-wrapper .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper .cbx span:last-child {
    padding-left: 15px;
    line-height: 18px;
}

.checkbox-wrapper .cbx:hover span:first-child {
    border-color: #E39923;
}

.checkbox-wrapper .inp-cbx {
    position: absolute;
    visibility: hidden;
}

.checkbox-wrapper .inp-cbx:checked+.cbx span:first-child {
    background: #E39923;
    border-color: #E39923;
    animation: wave-4 0.4s ease;
}

.checkbox-wrapper .inp-cbx:checked+.cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.checkbox-wrapper .inline-svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

@media screen and (max-width: 640px) {
    .checkbox-wrapper .cbx {
        width: 100%;
        display: inline-block;
    }
}

@-moz-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}

@-webkit-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}

@-o-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}

@keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}


/*** Footer ***/

.footer .short-link a,
.footer .help-link a,
.footer .contact-link a {
    transition: .5s;
    font-size: 14px;
}

.footer .short-link a:hover,
.footer .help-link a:hover,
.footer .contact-link a:hover,
#copyright a:hover {
    color: var(--bs-primary) !important;
}

.footer .hightech-link a:hover {
    background: var(--bs-primary);
    border: 0;
}


/*** Copyright ***/



/*** General ***/

.btn {
    font-weight: 500;
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-md-square {
    width: 46px;
    height: 46px;
}

.btn-lg-square {
    width: 58px;
    height: 58px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.back-to-top {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.mr-3 {
    margin-right: 1rem !important;
}

a {
    text-decoration: none;
}

h2 {
    letter-spacing: -0.03em;
}

.rounded-lg {
    border-radius: 12px !important;
}

.mb-45 {
    margin-bottom: 2.5rem !important;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -50px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-50px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(50px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


/*** Arrow animation ***/

.dotted-line {
    width: 28px;
    height: 100px;
    display: block;
    position: absolute;
    color: #fdaa27;
    background: linear-gradient(currentColor 50%, transparent 50%) top/2px 2px content-box repeat-y;
    -webkit-mask: linear-gradient(#fdaa27, #fdaa27);
    -webkit-mask-size: 100% 0%;
    -webkit-mask-repeat: no-repeat;
    mask: linear-gradient(#fdaa27, #fdaa27);
    mask-size: 100% 0%;
    mask-repeat: no-repeat;
    animation: hideline infinite 2s linear;
}

.dotted-line.arrow-top:after {
    content: "";
    position: absolute;

    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid var(--bs-primary);

    width: 20px;
    padding-top: 80%;
    bottom: -22px;
}

.horizontal {
    rotate: -90deg;
    left: 50px;
}

@keyframes hideline {
    50% {
        -webkit-mask-size: 100% 100%;
        -webkit-mask-position: top;
        mask-size: 100% 100%;
        mask-position: top;
    }

    50.1% {
        -webkit-mask-size: 100% 100%;
        -webkit-mask-position: bottom;
        mask-size: 100% 100%;
        mask-position: bottom;
    }

    100% {
        -webkit-mask-position: bottom;
        mask-position: bottom;
    }
}



/*** Responsiveness ***/

@media (max-width: 450px) {
    #partners .partners-list a img {
        max-height: 36px;
        max-width: 100px;
    }
}

@media (min-width: 576px) {
    /*** Small  sm ***/
}

@media (min-width: 768px) {
    /*** Medium	 md ***/
}

@media (min-width: 992px) {

    /*** Large  lg ***/
    .navbar {
        position: absolute;
        width: 100%;
        top: 0;
        padding: 20px;
        background-color: transparent !important;
        z-index: 9;
    }

    .navbar.nav-sticky {
        padding: 10px;
        background: #ffffff !important;
        transition: all 250ms ease-in-out;
    }

    .navbar a.nav-link {
        padding: 15px;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .textwrapper {}

    .videowrapper {}

    .video {
        height: 73vh;
        width: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .testimonial .testimonial-content {
        flex-direction: column;
        -ms-flex-direction: column;
    }
}

@media (min-width: 1200px) {

    /*** Extra large  xl ***/
    .videowrapper {}

    .navbar .navbar-brand img {
        height: 80px;
    }
}

@media (min-width: 1400px) {

    /*** Extra extra large  xxl ***/
    .videowrapper {}
}

@media (max-width: 991.98px) {
    .navbar {
        padding: 0;
        background: var(--bs-white) !important;
        height: 60px;
        margin-top: 0;
    }

    .navbar .navbar-brand span {
        color: #ffffff;
    }

    .navbar a.nav-link {
        padding: 5px;
    }

    .navbar .dropdown-menu {
        box-shadow: none;
    }

    .navbar .navbar-brand {
        color: #ffffff;
    }

    .navbar .navbar-brand img {
        height: 40px;
    }

    nav {
        background-color: rgb(255, 255, 255);
        padding: 30px;
        width: 100%;
    }

    #intro .slider-wrapper {
        height: auto;
        margin-top: 0 !important;
        padding-top: 3rem !important;
    }

    #intro .item {
        height: auto;
    }

    #intro .main-carousel .slider-img img {
        max-height: 350px;
        max-width: 350px;
    }

    .testimonial {
        text-align: center;
    }

    .testimonial .pic {
        margin: 0 auto;
        float: none;
    }

    .testimonial .testimonial-content {
        width: 100%;
        float: none;
    }

    .testimonial .title {
        padding: 15px 0 0 0;
    }

    .owl-item {
        flex-grow: 1;
    }

    #industries a img {
        width: 60px;
        height: 60px;
    }

    #testimonial-slider .owl-dots {
        width: 100%;
        padding-right: 0;
        text-align: center;
    }
}

@media (max-width: 767.98px) {
    #industries a p {
        position: relative;
        top: 0;
        height: auto;
        visibility: visible;
        opacity: 1;
    }

    #industries a:hover img {
        transform: none;
        width: 60px;
        height: 60px;
    }

    #industries a:hover .text-wrapper {
        transform: none;
    }

    #industries a:hover h4 {
        font-size: calc(1.275rem + .3vw);
    }

    #industries a:hover {
        transform: none;
        box-shadow: none;
    }
}